<div class= "container">
  <div class="row">
    <div class="col"></br>

      <h3 class="head-line title_h3 text-center">管理者ログイン</h3></br>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group text-center col-10">
        <%= f.label :"メールアドレス", class: "col-5 control-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-5 form-control-static" %>
      </div>
      <div class="form-group text-center col-10">
        <%= f.label :"パスワード", class: "col-5 control-label" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "col-5 form-control-static" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field text-left col-12 ml-5">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions text-white text-center">
      <%= f.submit "ログイン", class:"btn btn-primary" %>
      </div>
      <% end %>

      <%= render "admin/shared/links" %>
    </div>
  </div>
</div>
